/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, html {
  background: #1a202c;
}

h1, h2, h3, p, strong, div, input {
  color: #FFFFFF;
}

input {
  padding-left: 10px;
}

section {
  margin-top: 40px;
}

table {
  color: white;
}
table th {
  font-weight: bold;
  border-bottom: 3px solid #26a69a;
}
table tr {
  border-bottom-color: #26a69a;
}
table.highlight > tbody > tr:hover {
  background-color: #26a69a !important;
}

nav#navigation {
  background: #26a69a;
}
nav#navigation .nav-wrapper .reservations {
  font-size: 24px;
  padding: 0 15px;
  background: #25857c;
}

.movies-container {
  margin-top: 35px;
}

#legend {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  margin-top: 25px;
}
#legend .legend-item {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
#legend .legend-item .legend-colorbox {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
#legend .legend-item .available {
  background: #26a69a;
}
#legend .legend-item .taken {
  background: #acadac;
}
#legend .legend-item .selected {
  background: #f07b41;
}

#places {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
}
#places .places-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}
#places .places-row-container .row-number {
  font-size: 24px;
  width: 50px;
}
#places .places-row-container .places-container {
  display: grid;
}
#places .places-row-container .places-container .row {
  margin: 0;
}
#places .places-row-container .places-container .place {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  font-weight: bold;
  margin: 5px;
  padding: 15px 20px;
  background: #26a69a;
}
#places .places-row-container .places-container .place.taken {
  background: #acadac;
  cursor: not-allowed;
}
#places .places-row-container .places-container .place.selected {
  background: #f07b41;
}

.next-step {
  margin-top: 25px;
  text-align: center;
}

#confirmation .info-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reservations {
  margin-top: 50px;
}
