body, html {
    background: $bgColor;
}

h1, h2, h3, p, strong, div, input {
    color: $textColor;
}

input {
    padding-left: 10px;
}

section {
    margin-top: 40px;
}

table {
    color: white;

    th {
        font-weight: bold;
        border-bottom: 3px solid $primaryColor;
    }

    tr {
        border-bottom-color: $primaryColor;
    }

    &.highlight > tbody > tr:hover {
        background-color: $primaryColor !important;
    }
}
